$logo-blue: #19457F;
$light-gray: #F7F7F7;
$white: #FFFFFF;
$green: #BFD430;
$accent-blue: #05508C;
$marine-blue: #084F8B;
$header-font: .1em, 'Source Sans Pro', sans-serif;
$image-radus: 2%;
$page-width: 85em;

@import url('https://fonts.googleapis.com/css?family=Roboto|Source+Sans+Pro:300,400,400i&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

.centerText {
  text-align: center;
}

body {
  margin: 0;
  background-color: $white;
  font-family: 'Roboto', sans-serif;
}
h1, h2 {
  font-size: 2em;
  color: $marine-blue;
}
.pageContent {
  max-width: $page-width;
  margin: auto;
}
.logoNavBar {
  max-width: $page-width;
  display: flex;
  justify-content: space-around;
  margin: auto;
  .logo {
    margin: 1em;
    height: 80px;
  }
  .secondaryHeader {
    font-family: $header-font;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: .9em;
    height: 5.7em;
    font-weight: bold;

    .secondaryHeaderText {
      text-decoration: none;
      color: black;
      margin: 10px 15px;
      padding: .2em;
    }

    .secondaryActive {
      color: $logo-blue;
      border-bottom-style: solid;
      border-bottom-color: $green;
      border-bottom-width: .3em;
    }
  }
}
.headerImage {
  display: flex;
  justify-content: center;
  background: $marine-blue;
  padding: 0;
}

.values {
  text-align: left;
}

.slice {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 20em;
  text-align: left;
  margin: .5em auto;

  p {
    text-align: left;
  }

  .column {
    flex-direction: column;
  }

  .sliceImage {
    width: auto;
    height: auto;
  }
  .sliceText, .sliceTextNoImage {
    padding: 0 3em;
  }
  .sliceText {
    max-width: $page-width - 35em;
  }
  .sliceTextNoImage {
    max-width: 100%;
  }
}
hr {
  flex-basis: 100%;
  height: 0;
  margin: 0;
  border: 0;
}

p {
  text-align: center;
  max-width: 60em;
  margin: auto;
}

button {
  font-family: $header-font;
  text-transform: uppercase;
  margin: 5px;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: .8em;
  outline: 0;
  border: 1px solid $marine-blue;

  a {
    color: $white;
    text-decoration: none;
  }
}
.centerBlock {
  margin: 0 10em;
}
.center{
  display: flex;
  justify-content: center;
}


.blueButton {
  background: $marine-blue;
  color: $white;
}

.whiteButton {
  background: $white;
  color: $marine-blue;
}

.header {
  font-family: $header-font;
  text-transform: uppercase;
  background: $marine-blue;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .headerText {
    color: $white;
    text-decoration: none;
    margin: 10px 15px;
    font-size: .8em;

    img {
      margin-right: .5em;
    }
  }
}

.contactBar {
  background: $light-gray;
  padding: 30px;
}

.footer {
  font-family: $header-font;
  background: $logo-blue;
  color: $white;
  display: flex;
  justify-content: center;
  padding: 30px;
  margin-top: 1em;

  h3 {
    color: white;
    font-size: .9em;
    text-align: left;
    margin: 0;
    margin-bottom: .4em;
  }
  p, address {
    font-size: .7em;
    text-align: left;
  }

  .column {
    margin: 0 .5em;
    width: 10em;
  }

  .columnHeader {
    font-weight: bold;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin-top: .7em;
    font-size: .7em;
  }

  .socialIconBar {
    img {
      height: 1em;
      padding: .2em;
      margin: .4em 0;
    }
  }
}

.locationList {
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow-y: scroll;
  height: 60vh;
  padding-left: 0;

  .locationBlock {
    list-style-type: none;
    background-color: $light-gray;
    margin: .2em;
    padding: .5em;
    font-size: .9em;
    h2 {
      margin: .3em 0;
      font-weight: normal;
    }
    address {
      font-style: normal;
    }
    a {
      text-decoration: none;
        color: $logo-blue;
    }
  }
  .locationBlock:hover {
    background-color: #F0F0F0;
  }
}
