$logo-blue: #19457F;
$light-gray: #F7F7F7;
$white: #FFFFFF;
$green: #BFD430;
$accent-blue: #05508C;
$header-font: .1em, 'Open Sans Extra Bold', Helvetica, sans-serif;

@import url('https://fonts.googleapis.com/css?family=Arvo|Bitter&display=swap');

.centerText {
  text-align: center;
}

body {
  margin: 0;
  background-color: $white;
  font-family: 'Open Sans', 'Arial', sans-serif;

  .pageContent {
    margin: 0 2em;
  }
}

p {
  text-align: center;
  max-width: 60em;
  margin: auto;
}

button {
  font-family: $header-font;
  text-transform: uppercase;
  margin: 5px;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: .8em;
  outline: 0;
  border: 1px solid $logo-blue;
}

.blueButton {
  background: $logo-blue;
  color: $white;
}

.whiteButton {
  background: $white;
  color: $logo-blue;
}

.header {
  font-family: $header-font;
  text-transform: uppercase;
  background: $logo-blue;
  display: flex;
  justify-content: flex-end;

  .headerText {
    color: $white;
    text-decoration: none;
    margin: 10px 15px;
    font-size: .8em;
  }
}

.secondaryHeader {
  font-family: $header-font;
  display: flex;
  justify-content: flex-end;
  font-size: .9em;

  .secondaryHeaderText {
    text-decoration: none;
    color: black;
    margin: 10px 15px;
  }

  .secondaryActive {
    font-weight: bold;
    color: $logo-blue;
  }
}

.contactBar {
  background: $light-gray;
  padding: 30px;
}

.footer {
  font-family: $header-font;
  background: $logo-blue;
  color: $white;
  display: flex;
  justify-content: center;
  padding: 30px;

  .column {
    margin: 0 10px;
    width: 150px;
  }

  .columnHeader {
    font-weight: bold;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin-top: .7em;
    font-size: .7em;
  }
}
