$logo-blue: #19457F;
$light-gray: #F7F7F7;
$white: #FFFFFF;

body {
  margin: 0;
  font: normal 10px/20px Arial, Helvetica, sans-serif;
  background-color: $white;

  .pageContent {
    margin: 0 2em;
  }
}

button {
  text-transform: uppercase;
  margin: 5px;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 10px;
  outline: 0;
  border: 1px solid $logo-blue;
}

.blueButton {
  background: $logo-blue;
  color: $white;
}

.whiteButton {
  background: $white;
  color: $logo-blue;
}

.header {
  text-transform: uppercase;
  background: $logo-blue;
  display: flex;
  justify-content: flex-end;

  .headerText {
    color: $white;
    text-decoration: none;
    margin: 10px 15px;
    font-weight: bold;
  }

  .primaryActive {
    font-weight: bold;
  }
}

.secondaryHeader {
  display: flex;
  justify-content: flex-end;
  font-size: 11px;

  .secondaryHeaderText {
    text-decoration: none;
    color: black;
    margin: 10px 15px;
  }

  .secondaryActive {
    font-weight: bold;
    color: $logo-blue;
  }
}

.contactBar {
  background: $light-gray;
  padding: 30px;
}

.footer {
  background: $logo-blue;
  color: white;
  display: flex;
  justify-content: center;
  padding: 30px;

  .column {
    margin: 0 10px;
    width: 150px;
  }

  .columnHeader {
    font-weight: bold;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}
